/* CSS for a super secret project */
/* !important's since it's for a userscript */

.tectable {
	font-size: 0.75em !important;
	width: 100% !important;
	border: thin solid !important;
}

.tectable th {
	text-align: center !important;
	font-size: 1em !important;
}

.tectable tr td:not(:first-of-type) {
	font-weight: lighter !important;
}

.tectable tr:hover {
	background-color: #4a4848 !important;
}

.disabledlink {
	text-decoration: line-through !important;
}

.tecvisited:visited {
	color: #551A8B !important;
}

.gemcalculator {
	background-color: black !important;
	z-index: 1000 !important;
	cursor: pointer !important;
	text-align: center !important;
	justify-content: center !important;
	align-items: center !important;
	border: 1px dotted black !important;
}

.juicerlinks {
	color: LightSkyBlue !important;
	text-decoration: underline !important;
	font-weight: normal;
}

.bad {
	color: red !important;
}

.clipboardbutton {
	border: none !important;
	color: white !important;
	padding: 5px 26px !important;
	text-align: center !important;
	text-decoration: none !important;
	display: inline-block !important;
	opacity: 0.8 !important;
	margin: 2px 1px !important;
	cursor: pointer !important;
	position: relative !important;
	top: 50% !important;
	left: 40% !important;
}

.clipboardbutton2 {
	border: none !important;
	color: white !important;
	padding: 4px 15px !important;
	text-align: center !important;
	text-decoration: none !important;
	display: inline-block !important;
	opacity: 0.8 !important;
	cursor: pointer !important;
	position: relative !important;
	top: 50% !important;
	left: 30% !important;
}

.clipboardbutton3 {
	border: none !important;
	color: white !important;
	padding: 10px 16px !important;
	text-align: center !important;
	text-decoration: none;
	display: inline-block !important;
	opacity: 0.8 !important;
	margin: 2px 1px !important;
	font-size: 0.8em !important;
	cursor: pointer !important;
}

.red {
	background-color: red;
}

.black {
	background-color: black;
}

.green {
	background-color: green;
}

.blue {
	background-color: blue;
}

.restartbutton1 {
	position: absolute !important;
	top: 70px !important;
	right: 150px !important;
	width: 100px !important;
	height: 25px !important;
	background-color: black !important;
	z-index: 1000 !important;
	text-align: center !important;
	cursor: pointer !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: 1px dotted black !important;
}

.restartbutton2 {
	background-color: black !important;
	border: none !important;
	color: white !important;
	padding: 5px 26px !important;
	text-align: center !important;
	text-decoration: none !important;
	opacity: 0.8 !important;
	margin: 2px 300px !important;
	cursor: pointer !important;
	position: relative !important;
	top: 50% !important;
	left: 20% !important;
}

.restartbutton3 {
	position: absolute !important;
	top: 9rem !important;
	right: 150px !important;
	width: 100px !important;
	height: 25px !important;
	background-color: black !important;
	z-index: 1000 !important;
	text-align: center !important;
	cursor: pointer !important;
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	border: 1px dotted white !important;
	padding: 15px 1px !important;
}

.restartbutton4 {
	background-color: black !important;
	border: none !important;
	color: white !important;
	padding: 5px 26px !important;
	text-align: center !important;
	text-decoration: none !important;
	opacity: 0.8 !important;
	margin: 2px 1px !important;
	cursor: pointer !important;
	position: relative !important;
	top: 50% !important;
	left: 40% !important;
}

.platformbutton {
	background-color: black !important;
	border: none !important;
	color: white !important;
	padding: 10px 16px !important;
	text-align: center !important;
	text-decoration: none !important;
	display: inline-block !important;
	opacity: 0.8 !important;
	margin: 2px 15px !important;
	font-size: 0.8em !important;
	cursor: pointer !important;
}

.tectraverser {
	text-align: center !important;
	width: 100% !important;
}

.tectraverser a {
	font-size: 16px !important;
}

.quantitycalculation button {
	width: 24% !important;
	-webkit-appearance: none !important;
	border: 3px solid #FD5E0F !important;
	background-color: #FD5E0F !important;
	font-family: 'Ropa Sans' !important;
	font-size: 14px !important;
	color: #202020 !important;
	font-weight: 500 !important;
	outline: none !important;
	border-radius: 0px !important;
}
